<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TZ Whiteboard</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/templates/css/default.css" />
</head>
<body>
    <div id="board-content" class="board-content"></div>
    <!--div class="board-content" id="board-content">
        <div class="textboard">
            <div id="sketchtextapp">
                <textarea style="padding-left:10px;width:99%;height:80%;max-height:600px;" id="textboard"></textarea>
                <div style="text-align: center;">
                </div>
            </div>
            <div id="sketchpadapp" style="display: none;">
                <div class="textboard">
                    <button onclick="sendLanguage({value:'none'});" class="btn">Return</button>
                    <button onclick="DB.setColor(  0,   0,   0);" style="background-color: rgb(  0,   0,   0);" class="btn">&nbsp;</button>
                    <button onclick="DB.setColor(255, 255, 255);" style="background-color: rgb(255, 255, 255);" class="btn">&nbsp;</button>
                    <button onclick="DB.setColor(255,  10,  10);" style="background-color: rgb(255,  10,  10);" class="btn">&nbsp;</button>
                    <button onclick="DB.setColor( 60, 145,  30);" style="background-color: rgb( 60, 145,  30);" class="btn">&nbsp;</button>
                    <button onclick="DB.setSize( 5);" class="btn"> 5</button>
                    <button onclick="DB.setSize(10);" class="btn">10</button>
                    <button onclick="DB.setSize(15);" class="btn">15</button>
                    <button onclick="CEB.publish('board-draw-clear', '');" class="btn">Clear</button>
                </div>
                <canvas id="sketchpad" height="600" width="800"></canvas>
            </div>

            <script type="text/javascript">
                // Send language event change
                function sendLanguage(btn) {
                    CEB.publish('board-language', btn.value);
                }
                document.getElementById('textboard').onkeyup = function() {
                    if(window.getSelection().toString() === '')
                        CEB.publish('board-message', this.value);
                };
                document.getElementById('textboard').addEventListener('select', function(e) {
                    var sel = window.getSelection().toString();
                    if(sel && sel.length > 2) {
                        CEB.publish('board-textselection', sel);
                    }
                }, false);
            </script>
        </div>
        <pre class="nospace" id="text-preview"><code id="preboard"></code></pre>
        <img id="image-preview" />
    </div-->

    <link rel="stylesheet" href="/templates/css/dracula.css" />
    <script src="/templates/js/sockjs.min.js?v=1"></script>
    <script src="/templates/js/highlight.pack.js"></script>
    <script src="/templates/js/prototypes.js"></script>
    <script src="/templates/js/DrawingBoard.js"></script>
    <script src="/templates/js/TextBoard.js"></script>
    <script src="/templates/js/CustomEventBus.js"></script>

    <script type="text/javascript">
        var boardKey = '-[[${context.request().path()}]]'.replace(/\//g, '').replace(/edit$/, '').replace(/^-$/, '');
        if(boardKey === '') boardKey = '-defaultboardsocketkey';

        // Text Board
        var TB = new TextBoard({
            container : document.getElementById('board-content'),
            editable : /\/edit$/.test('[[${context.request().path()}]]')
        });

        // Drawing board
        var DB = new DrawingBoard({
            container : document.getElementById('board-content'),
        });

        var CEB = new CustomEventBus({
            url : window.location.origin + '/eventbus',
            ebKey : boardKey,
            listeners : {
                onConnection : function (message) {
                    if(message.lastmessage) {
                        TB.setEditorValue(message.lastmessage);
                        TB.setLastMessage(message.lastmessage.escapeTag());
                    }
                    if(message.language) TB.setLanguage(message.language);
                    //if(message.textselection) setSelection(message.textselection);
                },
                onMessage : function(message) {
                    TB.setLastMessage(message);
                },
                onLanguage : function(message) {
                    TB.setLanguage(message);
                },
                onSelection : function(message) {
                    TB.setSelection(message);
                },
                onDraw : function(message) {
                    if(document.getElementById('image-preview')) {
                        document.getElementById('image-preview').src = message;
                    } else {
                        DB.setDataUrl(message);
                    }
                },
                onDrawClear : function() {
                    if(document.getElementById('image-preview')) {
                        document.getElementById('image-preview').src = '';
                    } else {
                        DB.clearCanvas();
                    }
                },
                onClose : function() {
                    document.getElementById("preboard").innerHTML = "You are disconnected to the board, please refresh your browser !";
                }
            }
        });

        DB.onDraw = (function() {
            CEB.publish('board-draw-draw', DB.dataUrl());
        }).debounce(100);

        TB.sendLanguage = function(value) {
            CEB.publish('board-language', value);
        };
        TB.onKeyUp = function(value) {
            CEB.publish('board-message', value);
        };
        TB.onTextSelection = function(value) {
            CEB.publish('board-textselection', value);
        };

    </script>
</body>
</html>