<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TZ Whiteboard</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/templates/dracula.css">
</head>
<body class="nospace">
    <div class="textboard" th:if="${#strings.endsWith(context.request().path(), '/edit')}">
        <style>
            body.nospace {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 10px;
            }
            .textboard {
                grid-column: 1 / 2;
                grid-row: 1;
            }
            .nospace {
                grid-column: 2 / 2;
                grid-row: 1;
            }
        </style>
        <textarea style="padding-left:10px;width:99%;height:300px;" id="textboard"></textarea>
        <div style="text-align: center;">
            <button
                    th:each="language : ${context.get('languages')}"
                    th:text="${language}"
                    th:value="${language}"
                    onclick="sendLanguage(this)"
                    class="btn"
            ></button>
        </div>
        <script type="text/javascript">
            // Send language event change
            function sendLanguage(btn) {
                eb.publish('board-language' + boardKey, btn.value);
            }
            document.getElementById('textboard').onkeyup = function() {
                if(window.getSelection().toString() === '')
                    eb.publish('board-message' + boardKey, this.value);
            };
            document.getElementById('textboard').addEventListener('select', function(e) {
                var sel = window.getSelection().toString();
                if(sel && sel.length > 2) {
                    eb.publish('board-textselection' + boardKey, sel);
                }
            }, false);
        </script>
    </div>
    <pre class="nospace"><code id="preboard"></code></pre>
    <div id="welcome-psg" style="display:none;">
___  ___  __       __       __
 |  |__  /  ` |__|  /  /\  |__)  /\
 |  |___ \__, |  | /_ /~~\ |  \ /~~\
 __   __        __   __
|__) /  \  /\  |__) |  \
|__) \__/ /~~\ |  \ |__/  o o o
    </div>
    <script src="/templates/sockjs.min.js?v=1"></script>
    <script src="/templates/highlight.pack.js"></script>
    <style>
        .nospace {
            padding : 0px;
            margin : 0px;
        }
        .hljs-ln-numbers {
            width: 30px;
            border-right: 1px solid gray;
        }
        .hljs-ln-code .hljs-ln-line{
            margin-left: 10px;
        }
        .btn{
            min-width: 70px;
            margin : 0px 2px;
            text-transform: uppercase;
        }
        .textselected {
            background-color: cornflowerblue;
            color: white;
        }
    </style>
    <script type="text/javascript">
        String.prototype.escapeTag = function() {
            return this.replace(/</g, '&lt;').replace(/>/g, '&gt;');
        };
        String.prototype.escapeReg = function() {
            return this.replace(/[\-\[\]\/\{\}\(\)\*\+\?\.\\\^\$\|]/g, "\\$&");
        };
    </script>
    <script type="text/javascript">
        var boardKey = '-[[${context.request().path()}]]'.replace(/\//g, '').replace(/edit$/, '').replace(/^-$/, '');
        if(boardKey === '') boardKey = '-defaultboardsocketkey';
        var eb = new EventBus(window.location.origin + '/eventbus', {
            server : boardKey
        });
        var highlightBoard = false;
        var lastmessage = '';

        // Update board preview
        function setLastMessage(msg, selection) {
            if(msg) lastmessage = msg;
            if(typeof selection !== 'undefined') {
                document.getElementById('preboard').innerHTML = lastmessage.replace(
                    new RegExp('('+selection.escapeReg()+')', 'g'),
                    '<span class="textselected">$1</span>')
                ;
            }else {
                document.getElementById('preboard').innerHTML = lastmessage
            }
            if(highlightBoard) {
                hljs.highlightBlock(document.getElementById('preboard'));
                hljs.lineNumbersBlock(document.getElementById('preboard'));
            }
        }
        function setEditorValue(val){
            if(document.getElementById('textboard')) document.getElementById('textboard').value = val;
        }
        // Update language highlighting
        function setLanguage(lng) {
            switch (lng) {
                case 'none':
                    highlightBoard = false;
                    break;
                default :
                    highlightBoard = true;
                    document.getElementById("preboard").className = lng;
                    break;
            }
            setLastMessage();
        }
        // Update board text selection
        function setSelection(sel) {
            highlightBoard = false;
            setLastMessage(lastmessage, sel);
        }
        // Show welcom message
        function welcome() {
            if(lastmessage === '') document.getElementById('preboard').innerHTML = document.getElementById('welcome-psg').innerHTML;
        }

        window.setInterval(welcome, 30000);

        eb.onopen = function() {
            welcome();
            // handle board content
            eb.registerHandler('board-message' + boardKey, function(error, message) {
                if(typeof message.body === "undefined") return false;
                setLastMessage(message.body.escapeTag());
            });
            // handle language change
            eb.registerHandler('board-language' + boardKey, function(error, message) {
                if(typeof message.body === "undefined") return false;
                setLanguage(message.body);
            });
            // handle text selection
            eb.registerHandler('board-textselection' + boardKey, function(error, message) {
                if(typeof message.body === "undefined") return false;
                setSelection(message.body);
            });
            // handle new connection
            eb.registerHandler('board-newconnection', function(error, message) {
                if(error) return false;
                if(message.lastmessage) {
                    setEditorValue(message.lastmessage);
                    setLastMessage(message.lastmessage.escapeTag());
                }
                if(message.language) setLanguage(message.language);
                //if(message.textselection) setSelection(message.textselection);
            });
        };
        // Handle disconnecting
        eb.onclose = function() {
            document.getElementById("preboard").innerHTML = "You are disconnected to the board, please refresh your browser !";
        };
    </script>
</body>
</html>